In [94]:
import pandas as pd
import numpy as np
from glob import glob
import os

folder = '.'
file_names = glob(os.path.join(folder, '*/*.xlsx'))
file_name = file_names[0]

print(file_name)
data_all = pd.read_excel(file_name)
print(data_all.head())

./자동측정망_팔당상수원보호구역_시간자료2018/경안천2018.xlsx
             측정날짜  수계 측정소명      MSR_DATE_R    총유기탄소  염화메틸렌  독성도(발광박테리아)  \
0  20180101000000  한강  경안천  20180101000000  2.38667    0.0          NaN
1  20180101010000  한강  경안천  20180101010000  2.40667    0.0          NaN
2  20180101020000  한강  경안천  20180101020000  2.38000    0.0          NaN
3  20180101030000  한강  경안천  20180101030000  2.38333    0.0          NaN
4  20180101040000  한강  경안천  20180101040000  2.42167    0.0          NaN

   1.1.1-트리클로로에테인   벤젠  사염화탄소  ...  수소이온농도  전기전도도  용존산소  독성지수(좌)  유영속도(좌)  \
0             0.0  0.0    0.0  ...     NaN    NaN   NaN      1.0  0.55750
1             0.0  0.0    0.0  ...     NaN    NaN   NaN      0.0  0.53583
2             0.0  0.0    0.0  ...     NaN    NaN   NaN      0.0  0.55917
3             0.0  0.0    0.0  ...     NaN    NaN   NaN      0.0  0.57083
4             0.0  0.0    0.0  ...     NaN    NaN   NaN      0.0  0.58000

   개체수(좌)  독성지수(우)  유영속도(우)  개체수(우)  탁도
0    14.0      0.0  0.58917    15.0 NaN
1    14.0      0.0  0.59083    15.0 NaN
2    14.0      0.0  0.57167    15.0 NaN
3    14.0      0.0  0.58583    15.0 NaN
4    14.0      0.0  0.57167    15.0 NaN

[5 rows x 33 columns]

# markdown test

In [95]:
data_all.index

RangeIndex(start=0, stop=8739, step=1)

In [96]:
data_all.columns

Index(['측정날짜', '수계', '측정소명', 'MSR_DATE_R', '총유기탄소', '염화메틸렌', '독성도(발광박테리아)',
       '1.1.1-트리클로로에테인', '벤젠', '사염화탄소', '트리클로로에틸렌', '톨루엔', '테트라클로로에틸렌', '에틸벤젠',
       'm,p-자일렌', 'o-자일렌', '[ECD]염화메틸렌', '[ECD]1.1.1-트리클로로에테인', '[ECD]사염화탄소',
       '[ECD]트리클로로에틸렌', '[ECD]테트라클로로에틸렌', '클로로필-a', '수온', '수소이온농도', '전기전도도',
       '용존산소', '독성지수(좌)', '유영속도(좌)', '개체수(좌)', '독성지수(우)', '유영속도(우)', '개체수(우)',
       '탁도'],
      dtype='object')

In [97]:
data_all.values

array([[20180101000000, '한강', '경안천', ..., 0.58917, 15.0, nan],
       [20180101010000, '한강', '경안천', ..., 0.59083, 15.0, nan],
       [20180101020000, '한강', '경안천', ..., 0.57167, 15.0, nan],
       ...,
       [20181231210000, '한강', '경안천', ..., 0.40833, 13.16667, 0.9],
       [20181231220000, '한강', '경안천', ..., 0.42167, 12.5, nan],
       [20181231230000, '한강', '경안천', ..., 0.41167, 12.75, nan]],
      dtype=object)

In [98]:
data_all.iloc[:,4]

0       2.38667
1       2.40667
2       2.38000
3       2.38333
4       2.42167
         ...
8734    2.33000
8735    2.38250
8736    2.42667
8737    2.44333
8738    2.51500
Name: 총유기탄소, Length: 8739, dtype: float64

In [8]:
type(data_all.iloc[:,4])

pandas.core.series.Series

In [118]:
toc = data_all.iloc[:,4]
toc

0       2.38667
1           NaN
2       2.38000
3       2.38333
4       2.42167
         ...
8734    2.33000
8735    2.38250
8736    2.42667
8737    2.44333
8738    2.51500
Name: 총유기탄소, Length: 8739, dtype: float64

In [124]:
is_nan = toc.isna()
is_nan

0       False
1        True
2       False
3       False
4       False
        ...
8734    False
8735    False
8736    False
8737    False
8738    False
Name: 총유기탄소, Length: 8739, dtype: bool

In [110]:
toc[is_nan]

1      NaN
40     NaN
62     NaN
63     NaN
64     NaN
        ..
8608   NaN
8609   NaN
8639   NaN
8729   NaN
1      NaN
Name: 총유기탄소, Length: 697, dtype: float64

In [21]:
toc.shift(-1)

0       2.40667
1       2.38000
2       2.38333
3       2.42167
4       2.41500
         ...
8734    2.38250
8735    2.42667
8736    2.44333
8737    2.51500
8738        NaN
Name: 총유기탄소, Length: 8739, dtype: float64

In [48]:
is_valid_up = ~toc.shift().isna()
is_valid_up

0       False
1        True
2        True
3        True
4        True
        ...
8734     True
8735     True
8736     True
8737     True
8738     True
Name: 총유기탄소, Length: 8739, dtype: bool

In [37]:
is_valid_down = ~toc.shift(-1).isna()
is_valid_down

0        True
1        True
2        True
3        True
4        True
        ...
8734     True
8735     True
8736     True
8737     True
8738    False
Name: 총유기탄소, Length: 8739, dtype: bool

In [61]:
len(toc[is_nan])

695

In [62]:
len(toc[is_nan & is_valid_up & is_valid_down])

39

In [132]:
cum = toc.notnull().astype(int).cumsum()
cum

0          1
1          1
2          2
3          3
4          4
        ...
8734    8039
8735    8040
8736    8041
8737    8042
8738    8043
Name: 총유기탄소, Length: 8739, dtype: int64

In [134]:
for rows in groupby()

0          1
1          1
2          2
3          3
4          4
        ...
8734    8039
8735    8040
8736    8041
8737    8042
8738    8043
Name: 총유기탄소, Length: 8739, dtype: int64

In [ ]:
cum[]

In [130]:
cum[is_nan] = np.NaN

In [131]:
cum

0          1.0
1          NaN
2          2.0
3          3.0
4          4.0
         ...
8734    8039.0
8735    8040.0
8736    8041.0
8737    8042.0
8738    8043.0
Name: 총유기탄소, Length: 8739, dtype: float64

In [71]:
data_all['group']=cum

In [73]:
is_nan

0       False
1       False
2       False
3       False
4       False
        ...
8734    False
8735    False
8736    False
8737    False
8738    False
Name: 총유기탄소, Length: 8739, dtype: bool

In [76]:
index_nan = is_nan[is_nan].index

In [77]:
index_nan

Int64Index([  40,   62,   63,   64,  106,  107,  182,  183,  226,  227,
            ...
            8441, 8488, 8489, 8557, 8558, 8573, 8608, 8609, 8639, 8729],
           dtype='int64', length=695)

In [79]:
toc.drop(index_nan)

0                                                  2.38667
1                                                  2.40667
2                                                     2.38
3                                                  2.38333
4                                                  2.42167
                               ...
8735                                                2.3825
8736                                               2.42667
8737                                               2.44333
8738                                                 2.515
group    0          1
1          2
2          3
3      ...
Name: 총유기탄소, Length: 8045, dtype: object

In [82]:
toc.drop(index_nan)

0       2.38667
1       2.40667
2       2.38000
3       2.38333
4       2.42167
         ...
8734    2.33000
8735    2.38250
8736    2.42667
8737    2.44333
8738    2.51500
Name: 총유기탄소, Length: 8044, dtype: float64

In [83]:
toc

0       2.38667
1       2.40667
2       2.38000
3       2.38333
4       2.42167
         ...
8734    2.33000
8735    2.38250
8736    2.42667
8737    2.44333
8738    2.51500
Name: 총유기탄소, Length: 8739, dtype: float64

In [84]:
index_nan

Int64Index([  40,   62,   63,   64,  106,  107,  182,  183,  226,  227,
            ...
            8441, 8488, 8489, 8557, 8558, 8573, 8608, 8609, 8639, 8729],
           dtype='int64', length=695)

In [87]:
toc

0       2.38667
1       2.40667
2       2.38000
3       2.38333
4       2.42167
         ...
8734    2.33000
8735    2.38250
8736    2.42667
8737    2.44333
8738    2.51500
Name: 총유기탄소, Length: 8739, dtype: float64

In [86]:
toc.isna()

0       False
1       False
2       False
3       False
4       False
        ...
8734    False
8735    False
8736    False
8737    False
8738    False
Name: 총유기탄소, Length: 8739, dtype: bool

In [90]:
toc.drop(toc.index[index_nan], inplace=True)

In [91]:
toc

0       2.38667
1       2.40667
2       2.38000
3       2.38333
4       2.42167
         ...
8734    2.33000
8735    2.38250
8736    2.42667
8737    2.44333
8738    2.51500
Name: 총유기탄소, Length: 8044, dtype: float64

In [92]:
data_all.drop(index_nan)

,측정날짜,수계,측정소명,MSR_DATE_R,총유기탄소,염화메틸렌,독성도(발광박테리아),1.1.1-트리클로로에테인,벤젠,사염화탄소,...,전기전도도,용존산소,독성지수(좌),유영속도(좌),개체수(좌),독성지수(우),유영속도(우),개체수(우),탁도,group
0,20180101000000,한강,경안천,20180101000000,2.38667,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,1.0,0.55750,14.00000,0.0,0.58917,15.00000,NaN,1
1,20180101010000,한강,경안천,20180101010000,2.40667,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,0.0,0.53583,14.00000,0.0,0.59083,15.00000,NaN,2
2,20180101020000,한강,경안천,20180101020000,2.38000,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,0.0,0.55917,14.00000,0.0,0.57167,15.00000,NaN,3
3,20180101030000,한강,경안천,20180101030000,2.38333,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,0.0,0.57083,14.00000,0.0,0.58583,15.00000,NaN,4
4,20180101040000,한강,경안천,20180101040000,2.42167,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,0.0,0.58000,14.00000,0.0,0.57167,15.00000,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8734,20181231190000,한강,경안천,20181231190000,2.33000,0.0,-5.90000,0.0,0.0,0.0,...,439.50000,14.05000,0.0,0.39917,9.75000,0.0,0.42833,13.50000,NaN,8040
8735,20181231200000,한강,경안천,20181231200000,2.38250,0.0,-7.61667,0.0,0.0,0.0,...,440.00000,14.15833,0.0,0.40583,10.08333,0.0,0.41250,13.33333,0.9,8041
8736,20181231210000,한강,경안천,20181231210000,2.42667,0.0,-5.28833,0.0,0.0,0.0,...,440.66667,14.30000,0.0,0.39333,9.66667,0.0,0.40833,13.16667,0.9,8042
8737,20181231220000,한강,경안천,20181231220000,2.44333,0.0,-2.19667,0.0,0.0,0.0,...,441.25000,14.33333,0.0,0.39333,10.25000,0.0,0.42167,12.50000,NaN,8043
8738,20181231230000,한강,경안천,20181231230000,2.51500,0.0,-6.40833,0.0,0.0,0.0,...,442.75000,14.40000,0.0,0.38167,9.83333,0.0,0.41167,12.75000,NaN,8044

In [93]:
len(toc)

8044

In [135]:
a = np.array( [
    [2, 3],
    [4, 5],
    [6, 7]
])

In [136]:
np.transpose(a, (1,0))

array([[2, 4, 6],
       [3, 5, 7]])

In [137]:
data_all

,측정날짜,수계,측정소명,MSR_DATE_R,총유기탄소,염화메틸렌,독성도(발광박테리아),1.1.1-트리클로로에테인,벤젠,사염화탄소,...,수소이온농도,전기전도도,용존산소,독성지수(좌),유영속도(좌),개체수(좌),독성지수(우),유영속도(우),개체수(우),탁도
0,20180101000000,한강,경안천,20180101000000,2.38667,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,1.0,0.55750,14.00000,0.0,0.58917,15.00000,NaN
1,20180101010000,한강,경안천,20180101010000,NaN,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.53583,14.00000,0.0,0.59083,15.00000,NaN
2,20180101020000,한강,경안천,20180101020000,2.38000,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.55917,14.00000,0.0,0.57167,15.00000,NaN
3,20180101030000,한강,경안천,20180101030000,2.38333,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.57083,14.00000,0.0,0.58583,15.00000,NaN
4,20180101040000,한강,경안천,20180101040000,2.42167,0.0,NaN,0.0,0.0,0.0,...,NaN,NaN,NaN,0.0,0.58000,14.00000,0.0,0.57167,15.00000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8734,20181231190000,한강,경안천,20181231190000,2.33000,0.0,-5.90000,0.0,0.0,0.0,...,7.5,439.50000,14.05000,0.0,0.39917,9.75000,0.0,0.42833,13.50000,NaN
8735,20181231200000,한강,경안천,20181231200000,2.38250,0.0,-7.61667,0.0,0.0,0.0,...,7.5,440.00000,14.15833,0.0,0.40583,10.08333,0.0,0.41250,13.33333,0.9
8736,20181231210000,한강,경안천,20181231210000,2.42667,0.0,-5.28833,0.0,0.0,0.0,...,7.5,440.66667,14.30000,0.0,0.39333,9.66667,0.0,0.40833,13.16667,0.9
8737,20181231220000,한강,경안천,20181231220000,2.44333,0.0,-2.19667,0.0,0.0,0.0,...,7.5,441.25000,14.33333,0.0,0.39333,10.25000,0.0,0.42167,12.50000,NaN
8738,20181231230000,한강,경안천,20181231230000,2.51500,0.0,-6.40833,0.0,0.0,0.0,...,7.5,442.75000,14.40000,0.0,0.38167,9.83333,0.0,0.41167,12.75000,NaN

In [139]:
data_all.isna().sum()

측정날짜                      0
수계                        0
측정소명                      0
MSR_DATE_R                0
총유기탄소                   696
염화메틸렌                  1376
독성도(발광박테리아)            3019
1.1.1-트리클로로에테인         1392
벤젠                     1392
사염화탄소                  1392
트리클로로에틸렌               1392
톨루엔                    1392
테트라클로로에틸렌              1392
에틸벤젠                   1392
m,p-자일렌                1392
o-자일렌                  1392
[ECD]염화메틸렌             1420
[ECD]1.1.1-트리클로로에테인    1396
[ECD]사염화탄소             1396
[ECD]트리클로로에틸렌          1396
[ECD]테트라클로로에틸렌         1396
클로로필-a                 1182
수온                      754
수소이온농도                  754
전기전도도                   755
용존산소                    759
독성지수(좌)                1319
유영속도(좌)                1319
개체수(좌)                 1319
독성지수(우)                1296
유영속도(우)                1296
개체수(우)                 1296
탁도                      761
dtype: int64

In [144]:
data_all.iloc[:,4:6].isnull().any(axis=1).astype('int')

0       0
1       1
2       0
3       0
4       0
       ..
8734    0
8735    0
8736    0
8737    0
8738    0
Length: 8739, dtype: int64

In [151]:
data = data_all.iloc[:, [0,1,4]]

In [152]:
data

                측정날짜  수계    총유기탄소
0     20180101000000  한강  2.38667
1     20180101010000  한강      NaN
2     20180101020000  한강  2.38000
3     20180101030000  한강  2.38333
4     20180101040000  한강  2.42167
...              ...  ..      ...
8734  20181231190000  한강  2.33000
8735  20181231200000  한강  2.38250
8736  20181231210000  한강  2.42667
8737  20181231220000  한강  2.44333
8738  20181231230000  한강  2.51500

[8739 rows x 3 columns]

In [157]:
excel_files = []
for i in range(len(file_names)):
    file_name = file_names[i]
    df = pd.read_excel(file_name)
    excel_files.append(df)

0
1
2
3
4
5

In [160]:
df = excel_files[0]
df.columns

Index(['측정날짜', '수계', '측정소명', 'MSR_DATE_R', '총유기탄소', '염화메틸렌', '독성도(발광박테리아)',
       '1.1.1-트리클로로에테인', '벤젠', '사염화탄소', '트리클로로에틸렌', '톨루엔', '테트라클로로에틸렌', '에틸벤젠',
       'm,p-자일렌', 'o-자일렌', '[ECD]염화메틸렌', '[ECD]1.1.1-트리클로로에테인', '[ECD]사염화탄소',
       '[ECD]트리클로로에틸렌', '[ECD]테트라클로로에틸렌', '클로로필-a', '수온', '수소이온농도', '전기전도도',
       '용존산소', '독성지수(좌)', '유영속도(좌)', '개체수(좌)', '독성지수(우)', '유영속도(우)', '개체수(우)',
       '탁도'],
      dtype='object')

In [161]:
df = excel_files[1]
df.columns

Index(['측정날짜', '수계', '측정소명', 'MSR_DATE_R', '총유기탄소', '총질소', '총인', '클로로필-a',
       '수온', '수소이온농도', '전기전도도', '용존산소', '탁도'],
      dtype='object')

In [162]:
df = excel_files[2]
df.columns

Index(['측정날짜', '수계', '측정소명', 'MSR_DATE_R', '총유기탄소', '총질소', '총인', '클로로필-a',
       '수온', '수소이온농도', '전기전도도', '용존산소', '탁도'],
      dtype='object')

In [163]:
df = excel_files[3]
df.columns

Index(['측정날짜', '수계', '측정소명', 'MSR_DATE_R', '총유기탄소', '총질소', '총인', '클로로필-a',
       '수온', '수소이온농도', '전기전도도', '용존산소', '탁도'],
      dtype='object')

In [164]:
df = excel_files[4]
df.columns

Index(['측정날짜', '수계', '측정소명', 'MSR_DATE_R', '총유기탄소', '총질소', '총인', '수온',
       '수소이온농도', '전기전도도', '용존산소', '탁도'],
      dtype='object')

In [170]:
# Take a dictionary as input to your DataFrame 
my_dict = {"a": ['1', '3', '1.1', np.nan, '3'], 
           "b": ['1', '2', '0.1', np.nan, '5'],
           "c": ['2', '4', '3.3', np.nan, '7']}
df = pd.DataFrame(my_dict)
#display(df)
df

     a    b    c
0    1    1    2
1    3    2    4
2  1.1  0.1  3.3
3  NaN  NaN  NaN
4    3    5    7

In [210]:
is_valid = df.notna().any(axis=1)
is_valid

0     True
1     True
2     True
3    False
4     True
dtype: bool

In [211]:
prev = is_valid.shift()
#prev[0] = False
prev

0      NaN
1     True
2     True
3     True
4    False
dtype: object

In [212]:
start_pos = ((is_valid == True) & (prev != True)).astype('int')
start_pos

0    1
1    0
2    0
3    0
4    1
dtype: int64

In [213]:
group_id = start_pos.cumsum()
group_id[~is_valid] = 0
group_id

0    1
1    1
2    1
3    0
4    2
dtype: int64

In [214]:
g = df.groupby(group_id)

In [221]:
for key, rows in g:
    if (key == 0):
        continue
    display(rows)

     a    b    c
0    1    1    2
1    3    2    4
2  1.1  0.1  3.3

   a  b  c
4  3  5  7